<nav class="navbar navbar-expand-sm navbar-dark bg-danger fixed-bottom">
<div class="container">
  <a class="navbar-brand mr-3" href="#">Donate Blood, Save Life!</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" id="a_right">
      <a class="nav-item nav-link" href="#">Register to create your own repository</a>

    </div>
  </div>
</div>
</nav>
